<div style="background-color: #dfdfdf">
<header>
      <div class="container">

      </div>
</header>

<nav>
    <div class="container">
     
        <div class="row">
            <h2>Serach Git Task code: shachar P</h2>
        </div>
        <div class="row">
            <a routerLink="/BookMarks" class="btn btn-primary btn-md">BookMarks</a>&nbsp;
            <a routerLink="/Main" class="btn btn-primary btn-md">Search Git</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
</div>
